<html>
    <head>
        <title>
           Mitterdini In The House
        </title>

    </head>

    <Body>
        <H1>
            Are you not entertained?
        </H1>
    <p>
        Howdy,<br/>
        Welcome to my <strong> Official Very First</strong>
        <em> website</em>

        as you can probably tell, ive never ever made a website from scratch, so this is quite the experience.<br/>
        thank you for being patient, great things are on the way, I swear.
    </p>

    </Body>
</html>
